.Container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(250, 250, 249);
    margin: 0;
}
.problemText{
    display: flex;
}
.problemText p{
    text-align: justify;
    font-weight: bold;
}
.actions{
    display: flex;
    margin-top:2%;
    margin-left: 20%;
    margin-right: 40%;
    width: 50%;
    justify-content: space-between;
}
.ContainerOptions{
    margin-bottom:3%;
    background-color: rgb(235, 235, 235);
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
}
.Title{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.teste{
}